doctype html
html(lang="en")
  head
    title User Profile Screen
  body
    div= username
    div= name
    div This is your Profile page!!

    a(href="/user/" + id + "/history")
      h1= postCount
      h3 My Posts

    a(href="/user/" + id + "/whiskeys")
      h1= uniquePostCount
      h3 My Unique Posts

    a(href="/user/" + id + "/my-favorites")
      h1= favoriteCount
      h3 My Favorites

    a(href="/user/" + id + "/friends")
      h1= friendCount
      h3 My Friends

    a(href="/badges")
      h1= badgeCount
      h3 My Badges

    a(href="/user/" + id + "/newsfeed")
      button.redirect-to-newsfeed(type='submit') Newsfeed
