extends page-outline.pug

block content
  div.single-post-container

    div.single-name
      p= item.whiskeyName

    div.single-photo
      img(src=item.smallImageURL)

    div.single-rating
      p= 'Rating: ' + item.rating
      p= item.id

    div.single-comment
      h2 Comments:
      each whatever in item.comment
        p= whatever.text
        p= whatever.commentDate.toLocaleDateString('en-US')

    div.single-add-comment
      form(method='POST' enctype='application/json' action="/user/" + user + "/single-post/4")
        textarea#add-comment(name="text", placeholder='Comment on this whiskey')
        input(type='submit', value='Submit')

    div.single-delete-post
      p Delete this post?
      form(action="/user/" + user + "/single-post/4?_method=DELETE" method="POST")
        //- a(href="/user/" + user)
        input(type='submit', value='Delete')
