extends page-outline.pug

block content
  div.whiskey-post-container

    div.post-whiskey-name
      p= single.whiskeyName
    div.post-country
      h3.label Country:
      p= single.country
    div.post-region
      h3.label Region:
      p= single.region
    div.post-description
      p= single.description

    div.post-form
      div.post-comment
        form(method='POST' enctype='application/json' action="/whiskey/" + user + "/post/" + single.id)
          textarea#comment-box(name="comment", placeholder='Add a comment')

          div.post-rating
            label(for='rating') Rating:
            - var ratings = [1,2,3,4,5];
              select(name='rating')
                each number in ratings
                  option#rating(value=number)= number
          p Add this whiskey to your history:
          input(type='submit', value='Submit')
